{{ partial "header.html" . }}
        <div id="article">
          <div class="article-title">{{ .Title }}</div>
          <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> {{ .Date.Format  "2006-01-02" }}</small></p>
          <hr/>
          <div class="post">
            {{ .Content }}
          </div>
          <ul class="list-inline text-center center-block">
            <li>
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="adeduke">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </li>
            <li>
              <div class="changetip_tipme_button" data-bid="30e8e6cf-a6e3-4316-ba9e-8cd3a1523db0" data-uid="25c652bbd2c7469989fc26a687111fd0"></div><script>(function(document,script,id){var js,r=document.getElementsByTagName(script)[0],protocol=/^http:/.test(document.location)?'http':'https';if(!document.getElementById(id)){js=document.createElement(script);js.id=id;js.src=protocol+'://widgets.changetip.com/public/js/widgets.js';r.parentNode.insertBefore(js,r)}}(document,'script','changetip_w_0'));</script>
          </li>
        </ul>
        </div>
        <ul class="pager">
          {{with .PrevInSection}}
            <li class="previous">
              <a href="{{.Permalink}}" title="{{ .Title }}">
                <span aria-hidden="true">&laquo;</span> Older
              </a>
            </li>
          {{end}}
          {{with .NextInSection}}
            <li class="next">
              <a href="{{.Permalink}}" title="{{ .Title }}">
                Newer <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {{end}}
        </ul>
        {{ partial "disqus.html" . }}
{{ partial "footer.html" . }}
