{{ partial "header.html" . }}
        <div id="article">
          <div class="article-title">{{ .Title }}</div>
          <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> {{ .Date.Format  "2006-01-02" }}</small></p>
          <hr/>
          <div class="post">
            {{ .Content }}
          </div>
          <p class="text-center"><a href="https://twitter.com/share" class="twitter-share-button " data-size="small" data-count="none">Tweet</a></p>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <ul class="pager">
          {{with .PrevInSection}}
            <li class="previous">
              <a href="{{.Permalink}}" title="{{ .Title }}">
                <span aria-hidden="true">&laquo;</span> Older
              </a>
            </li>
          {{end}}
          {{with .NextInSection}}
            <li class="next">
              <a href="{{.Permalink}}" title="{{ .Title }}">
                Newer <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {{end}}
        </ul>
        {{ template "_internal/disqus.html" . }}
{{ partial "footer.html" . }}
